<!doctype html>
<html>
<head>
  <title>Game Page</title>
  <link rel="stylesheet" type="text/css" href="/static/madlibs.css">
</head>
<body>
    <h1> Welcome to Madlib Game</h1>
    <img src = "/static/light.png" alt="Lighting">

    <div> There once was a
        <span class="color">{{ color }}</span> 
        <span class = 'noun'> {{ noun }}</span> sitting in the Hackbright Lab.
        When  
        <span id ="firstname"> {{ firstname }} </span> went to pick it up, it burst into flames in a totally
        {{ adjective }} way.
    </div>

</body>
</html>